.header > p {
    color: brown;
    font-size: 20px;
    font-weight: 900;
    display: flex;
    align-items: center;     
}

.header1 {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: right;
    cursor: pointer; 
    margin-left: auto;
    padding: 0;
    

}